# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Other
*.log